
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1 {
  text-align: center;
  margin-top: 20px;
}


ul {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  width: 300px;
}


li {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}


li span {
  font-weight: bold;
}


p {
  text-align: center;
  margin-top: 20px;
}
